<div class="client_wrapper">

    <div class="client_information">

        <div class="tco_card">

            <div class="card_header">
                <span>Client Information</span>
            </div>

            <div class="card_content">

                <form>
                    <div class="form-group">
                        <label>Client Name</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>URL</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" type="text">
                    </div>

                </form>

            </div>

        </div>
        
    </div>

    <div class="jda_information">

        <div class="tco_card">

            <div class="card_header">
                <span>JDA Information</span>
            </div>

            <div class="card_content">
                <form>
                    <div class="form-group">
                        <label>Client Name</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>URL</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" type="text">
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>

<div class="tco_footer">
    <!-- <app-tco-footer ></app-tco-footer> -->
    <button  class="but but-primary" style="opacity:0.5" disabled>Previous</button>
    <button class="but but-primary" (click)="goToLogin()">Next</button>
</div>