<div class="client-input">

    <div *ngIf="this.clientobj">
        {{this.clientobj.clientName}}
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Section A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Section B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Section C</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            
            <div class="section_a">

                <div class="tco_card">

                    <div class="card_header">
                        <span>Lattice Semis Background EBS Details </span>
                    </div>

                    <div class="card_content">

                        <div class="form-group">
                            <label>Current On-premise Application</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Current On-premise Application</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Level of Customization(Estimated) </label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>LatticeSemi's Primary Location (HQ State)</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Total Number of Employees (FTEs)</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Total Number of Financial Users (FTEs)</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Estimated Employee Growth (%)</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>How many Years</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>What is Your Corporate Marginal Tax Rate (%)</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>What is your Amortization Schedule? (Years)</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Total Number of Managed Resources </label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Number of Countries in Scope</label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Total Number of Invoice Line Items per Year </label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Total Number of Expense Reports per Year </label>
                            <input class="form-control" value=""  >
                          </div>

                          <div class="form-group">
                            <label>Total Annual Application Support Fees Payable to JDA (for all modules owned)</label>
                            <input class="form-control" value=""  >
                          </div>


                    </div>

                </div>

            </div>

        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <div class="section_b">

                <div class="tco_card">

                    <div class="card_header">
                        <span>Amway's EBS Financial Upgrade Costs</span>
                    </div>

                    <div class="card_content">
                        INSTRUCTIONS:
                        Please specify the nature of the upgrades performed:
                        a) Technical = Upgrade only the application to bring it up to the latest Toolset ONLY
                        b) Functional = Upgrade the Toolset as well as implement new Functionality
                        c) Transformational = Upgrade Toolset, Implement new functionality, as well as retire customizations and re-engineer business process 
                        (based on new functionality available)
                    </div>

                </div>

                <div class="tco_card">

                    <div class="card_header">
                        <span>
                            APPLICATION UPGRADE- 1</span>
                    </div>

                    <div class="card_content">
                        
                        <form>

                            <div class="form-group">
                              <label>Upgrade Type</label>
                              <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Duration(Weeks)</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Upgrade Performed internally or was a partner used </label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Date</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Cost</label>
                                <input class="form-control" value=""  >
                            </div>

                        </form>


                    </div>

                </div>

                <div class="tco_card">

                    <div class="card_header">
                        <span>INFRASTRUCTURE UPGRADE- 1</span>
                    </div>

                    <div class="card_content">
                        
                        <form>

                            <div class="form-group">
                              <label>Upgrade Type</label>
                              <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Duration(Weeks)</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Upgrade Performed internally or was a partner used </label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Date</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Cost</label>
                                <input class="form-control" value=""  >
                            </div>

                        </form>


                    </div>

                </div>


                <div class="tco_card">

                    <div class="card_header">
                        <span>HOSTED INFRASTRUCTURE</span>
                    </div>

                    <div class="card_content">
                        
                        <form>

                            <div class="form-group">
                              <label>Is your current hardware hosted by a Third Party Vendor?</label>
                              <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>If hosted, please specify your annual spend</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Upgrade Performed internally or was a partner used </label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Is the hosting provider offering application support?</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>If application support is provided in addition to hosting by the hosting vendor, is the application support cost included in the annual hosting fee? IF NOT, please provide annual application support cost here</label>
                                <input class="form-control" value=""  >
                            </div>

                        </form>


                    </div>

                </div>

                <div class="tco_card">

                    <div class="card_header">
                        <span>INHOUSE INFRASTRUCTURE</span>
                    </div>

                    <div class="card_content">
                        
                        <form>

                            <div class="form-group">
                              <label>Total Number of Physical Servers (Production and Non Production)</label>
                              <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>How many virtual instances do you have on these physical servers, for eg. DEV, TEST, UAT, MIRROR, PARALLEL, etc.?</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>What is your ANNUAL cost to maintain the physical hardware (please include actual hardware cost, space cost, power cost, etc.)</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>When was the last time you purchased new physical hardware? (dd-mm-yyyy)</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>How much did you spend the last time you purchased new hardware?</label>
                                <input class="form-control" value=""  >
                            </div>

                        </form>


                    </div>

                </div>

                <div class="tco_card">

                    <div class="card_header">
                        <span>Amway's EBS Maintenance Team Costs</span>
                    </div>

                    <div class="card_content">
                        
                        <form>

                            <div class="form-group">
                              <label>Number of Business FTEs </label>
                              <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Number of IT or Technology/Developer FTEs </label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Number of System Admin/DBA FTEs </label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Number of Consultants/Contractors </label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>Do you sporadically hire consultants/contractors?</label>
                                <input class="form-control" value=""  >
                            </div>

                            <div class="form-group">
                                <label>If Yes, what is your total consultant/contractor cost per year?</label>
                                <input class="form-control" value=""  >
                            </div>

                        </form>


                    </div>

                </div>

            </div>

        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            <div class="tco_card">

                <div class="card_header">
                    <span>Amway's Other Financial Application(JDA)</span>
                </div>

                <div class="card_content">

                    <form>

                        <div class="form-group">

                            <label>OBIEEE</label>
                            <input type="text" class="form-control" value="Reporting Solution" readonly>

                        </div>

                        <div class="form-group">

                            <label>Discoverer</label>
                            <input type="text" class="form-control" value="Reporting Solution" readonly>

                        </div>

                        <div class="form-group">

                            <label>SOA</label>
                            <input type="text" class="form-control" value="Integration Middle Ware" readonly>

                        </div>

                        <div class="form-group">

                            <label>12 Applications</label>
                            <input type="text" class="form-control" value="Legacy Applications" readonly>

                        </div>

                        <div class="form-group">

                            <label>Planning</label>
                            <input type="text" class="form-control" value="EBS Planning" readonly>

                        </div>

                        <div class="form-group">

                            <label>Logistics</label>
                            <input type="text" class="form-control" value="EBS Logistics" readonly>

                        </div>

                    </form>

                </div>


            </div>





        </div>

        </div>

        <div class="tco_footer">
            <!-- <app-tco-footer ></app-tco-footer> -->
            <button  class="but but-primary" (click)="goToInformation()">Previous</button>
            <button class="but but-primary" (click)="goTojda()">Next</button>
        </div>