/* You can add global styles to this file, and also import other style files */

@import './assets/scss/card/card';
@import './assets/scss/input/input';
@import './assets/scss/button/button';
@import './assets/scss/tabs/tabs';


body {
    font-family: MetricHPE;
    background-color:  #444;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tco_footer {
    display:flex;
    justify-content:space-between;
    padding-top: 20px;
    margin-bottom: 30px;

    .pre {
        margin-right: 10px;
    }
}